* {
    box-sizing: border-box;
    font-family: sans-serif;
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #6562ff;
    height: 100vh;
    user-select: none;
}
.img-responsive {
    width: 100%;
}
section,
.section {
    padding: 6em 0;
}
.txt-center {
    text-align: center;
}
.d-flex {
    display: flex;
}
.align-center {
    align-items: center;
}
.justify-center {
    justify-content: center;
}
.overlay {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: black;
    opacity: 0.8;
}
