.container {
    display: flex;
    width: 90%;
    margin: auto;
    flex-wrap: wrap;
    @include sm {
        max-width: 600px;
    }
    @include md {
        max-width: 900px;
    }
    @include lg {
        max-width: 1400px;
    }
    .row {
        display: flex;
        width: 100%;
        .col {
            width: 100%;
        }
        @include md {
            @include col(1);
            @include col(2);
            @include col(3);
            @include col(4);
            @include col(5);
            @include col(6);
            @include col(7);
            @include col(8);
            @include col(9);
            @include col(10);
        }
    }
}
